{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('map_new') }}">
	<table>
		<tr>
		<td>
			{{ form.name.label }}
		</td>
		<td>
			{{ form.name }}
		</td>
		<td>
			{% for error in form.name.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</td>
		</tr>
		<tr>
		<td>
			{{ form.private.label }}
		</td>
		<td>
			{{ form.private }}
		</td>
		<td>
			{% for error in form.private.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</td>
		</tr>
		<tr>
		<td>
			{{ form.width.label }}
		</td>
		<td>
			{{ form.width }}
		</td>
		<td>
			{% for error in form.width.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</td>
		</tr>
		<tr>
		<td>
			{{ form.height.label }}
		</td>
		<td>
			{{ form.height }}
		</td>
		<td>
			{% for error in form.height.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</td>
		</tr>
		<tr><td colspan="2">
			<input type="submit" value="Make a new map"/>
		</td></tr>
	</table>
</form>
{% endblock %}
