{% extends "layout.html" %}
{% block body %}

<!--==============--!>
<!-- New map form --!>
<!--==============--!>

<div id="headerOne" class="card-header">
	<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
		Make a new map
	</button>
</div>

<div id="collapseOne" class="collapse hide">
	<div class="card-body">
		<form method="POST" action="{{ url_for('map_new') }}" class="needs-validation" novalidate>
			<div class="form-group row">
				<label for="new_name_field" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="new_name_field" name="name" required>
					<div class="invalid-feedback">
						This field is required
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="new_width_field" class="col-sm-2 col-form-label">Width</label>
				<div class="col-sm-4">
					<input type="number" min="1" max="20" class="form-control" id="new_width_field" name="width" required>
					<div class="invalid-feedback">
						Width and Height should be integers between 1 and 20
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="new_height_field" class="col-sm-2 col-form-label">Height</label>
				<div class="col-sm-4">
					<input type="number" min="1" max="20" class="form-control" id="new_height_field" name="height" required>
					<div class="invalid-feedback">
						Width and Height should be integers between 1 and 20
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="headerTwo" class="card-header">
	<button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		Search for a map
	</button>
</div>
<div id="collapseTwo" class="collapse hide">
	<div class="card-body">
		<div class="form-group row">
			<label for="search-id-field" class="col-sm-1 col-form-label" disable-valid-styling="true">Map ID</label>
			<div class="col-sm-2">
				<input type="number" class="form-control" id="search-id-field" name="map-id">
				<div class="invalid-feedback">
					IDs are positive integers
				</div>
			</div>
			<div class="col-sm-3">
				<button type="submit" class="btn btn-primary" onclick="searchMap()">Search</button>
			</div>
		</div>
		<div class="row">
			<div class="alert alert-danger col-sm-4" style="margin-left: 10px; display: none;" role="alert" id="search-feedback-404">
				That map doesn't exist
			</div>
			<div class="alert alert-danger col-sm-4" style="margin-left: 10px; display: none;" role="alert" id="search-feedback-401">
				You don't have permission to view that map
			</div>
			<div class="alert alert-danger col-sm-4" style="margin-left: 10px; display: none;" role="alert" id="search-feedback-400">
				Invalid value
			</div>
		</div>
	</div>
</div>

<br>

{% if current_user.is_authenticated %}
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Your maps</h5>
					{% for mp in owned_maps %}
						<div class="p-2 bd-highlight border rounded ml-1">
							<a href="/map/{{ mp.id }}">{{mp.name}}</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Maps shared to you</h5>
					{% for mp in shared_maps %}
						<div class="p-2 bd-highlight border rounded ml-1">
							<a href="/map/{{ mp.id }}">{{mp.name}}</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endif %}

<script src="/static/js/bootstrap_forms.js"></script>
<script src="/static/js/search_query.js"></script>
{% endblock %}
