{% extends "layout.html" %}

{% block body %}
<p>
	<a href="{{ url_for('map_new') }}">Make a new map</a>
	<br>

	{% if current_user.is_authenticated %}
		<h2>Your maps:</h2>
		<div class="d-flex flex-wrap flex-row bd-highlight mb-3">
			{% for mp in user_maps %}
				<div class="p-2 bd-highlight border rounded ml-1">
					<a href="/map/{{ mp.id }}">{{mp.name}}</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<h2>Public maps:</h2>
	<div class="d-flex flex-wrap flex-row bd-highlight mb-3">
		{% for mp in public_maps %}
			<div class="p-2 bd-highlight border rounded ml-1">
				<a href="/map/{{ mp.id }}">{{mp.name}}</a>
			</div>
		{% endfor %}
	</div>

	<h2>Visible maps with no cities or paths:</h2>
	<div class="d-flex flex-wrap flex-row bd-highlight mb-3">
		{% for mp in aggregate_maps %}
			<div class="p-2 bd-highlight border rounded ml-1">
				<a href="/map/{{ mp.id }}">{{mp.name}}</a>
			</div>
		{% endfor %}
	</div>
</p>
{% endblock %}
