{% extends "layout.html" %}

{% block body %}
<p>
	<a href="{{ url_for('maps_new') }}">Make a new map</a>
	<br>

	{% if current_user.is_authenticated %}
		<table>
		<th>Your maps: </th>
		{% for mp in user_maps %}
			<tr>
				<th><a href="/maps/{{ mp.id }}">{{mp.name}}</a></th>
			</tr>
		{% endfor %}
		</table>
	{% endif %}

	<table>
	<th> Public maps: </th>
	{% for mp in public_maps %}
		<tr>
			<th><a href="/maps/{{ mp.id }}">{{mp.name}}</a></th>
		</tr>
	{% endfor %}
	</table>
</p>
{% endblock %}
