{% extends "layout.html" %}
{% block body %}
	{% if found_map == None %}
		<p>Map doesn't exist or is private </p>
	{% else %}
		<p>
		<table>
			<tr>
				<th>Name</th>
				<th>ID</th>
				<th>Private</th>
			</tr>
			<tr>
				<td>{{ found_map.name }}</td>
				<td>{{ found_map.id }}</td>	
				<td>{{ found_map.private }}</td>	
			</tr>
		</table>
		</p>
		<form method="POST" action="{{ url_for('maps_edit', map_id = found_map.id) }}">
			<table>
				<tr><td>
					{{ form.name.label }}
				</td></tr>
				<tr>
				<td>
					{{ form.name }}
				</td>
				<td>
					{% for error in form.name.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</td>
				</tr>
				<tr><td colspan="2">
					<input type="submit" value="Rename map"/>
				</td></tr>
			</table>
		</form>
	{% endif %}
{% endblock %}
